.second{
    background-color: rgb(132, 132, 132);
    height: 3em;
    display: flex;
    text-align: center;
    justify-content: center;
}

.title-footer{
    position: relative;
    color: white;
    font-size: 20px;
}